@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sometype+Mono&family=Titillium+Web&display=swap');
@font-face {
    font-family: 'Gotham Bold';
    src: url('../Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: #ebf1f1;
    --secondary-color: #6fa6b0;
    --thrice-color: #2b3e52;
    --quad-color: #62c5cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar { 
    display:none 
}

body {
    background-color: #222222;
    color: var(--primary-color);

}

nav {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Sometype Mono';
    

}

li { 
    margin-left: 20px;
    margin-right: 20px;
    display: inline;

}

ul div {
    display: inline;
    

}

.dropdown-opener {
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    display: block;
    position: fixed;
    background-color: #1f1f1f;
    width: 100%; 
    margin-top: -200px;

}

.dropdown-content a {
    float: none;
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content img {
    vertical-align: middle;
    padding-right: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 28px;   
  }

a {
    text-decoration: none  !important;
    color: var(--primary-color);
    transition: 200ms ease-in-out;
}

ul a:hover {
    color: var(--secondary-color);
    transition: 200ms ease-in-out;
}

.hero-vid {
    position:relative; 
    text-align: center;

}

.hero-vid video {
    position:relative;
    z-index:0;
    opacity: 0.25;

}

.overlay {
    font-family: "Sometype Mono";
    font-size: 200%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
}

.hero-cws {
    margin-top: 25px;
    font-size: 325%;
    line-height: 110px;
    font-family: 'Titillium Web';
    margin-bottom: 25px;
    font-weight: bolder;
    letter-spacing: 8px;
    word-spacing: 12px;
}

.hero-bes {
    font-size: 24px;
}

button {
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: var(--secondary-color) solid 2px;
    width: auto;
    border-radius: 100px;
    font-family: "Titillium Web";
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--primary-color);
    display: inline;
    letter-spacing: 4px;
    transition: 200ms ease-in-out;
}

button:hover {
        /* color: var(--secondary-color); */
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        transition: 200ms ease-in-out;
}

.title {
    font-size: 40px;
    font-family: 'Sometype Mono';
    margin-bottom: 40px;
}
.headers {
  margin-top: 25px;
  font-size: 325%;
  line-height: 110px;
  font-family: 'Gotham';
  margin-bottom: 25px;
  font-weight: bolder;
  letter-spacing: 8px;
  word-spacing: 12px;
  vertical-align: middle;
  text-align: center;
}
/* FEATURES */
 section {
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    margin: 0px;

  }
  .container {
    width: 90%;
    max-width: 1000px;
    /* margin: 50px auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    /* background-color: #222222; */
    
  }
  .left {
    height: 75%;
    width: 75%;
  }
  .left video{
    height: 400px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .right {
    width: 50%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;    
    color: var(--primary-color);
    background: #222222;    
    margin-left: -150px;
  }
  .right h1 {
    font-family: 'Gotham';
    font-size: 40px;
    font-weight: lighter;
  }
  .right p {
    font-family: 'Sometype Mono';
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left {
      width: 100%;
      height: 400px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }

  /* GALLERY */
  div.gallery {
    display: grid;
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    align-items: center;
    font-family: 'titillium web';
    transition: ease-in-out 250ms;
    margin-right: 65px;
    border-radius: 8px;
    transform: scale(120%);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    transition: ease-in-out 250ms;
    transform: scale(135%);
    cursor: pointer;

  }
  
  div.gallery img {
    height: 178px;
    width: 178px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
.games{
  display: inline-flex;
  width: 100%;
  align-items: baseline;
  text-align: center; 
  position: absolute;
  left: 11.125%;

}

/* FOOTER */

footer {
  margin-top: 500px;
  font-family: 'Titillium Web';
}
footer img {
  margin-left: 0;
}
footer .container{
	max-width: 1170px;
	margin:auto;
}
footer .row{
  text-align: center;
  float: right;
}
footer ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
