@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sometype+Mono&family=Titillium+Web&display=swap');
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: #ebf1f1;
    --secondary-color: #6fa6b0;
    --thrice-color: #2b3e52;
    --quad-color: #62c5cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

::-webkit-scrollbar { 
    display:none 
}

body {
    background-color: #222222 !important;
    color: var(--primary-color);
}
nav {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000000000000000000000000000000;
    backdrop-filter: blur(10px) !important;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Sometype Mono';
    

}

nav li { 
    margin-left: 20px;
    margin-right: 20px;
    display: inline;

}

nav ul div {
    display: inline;
    

}

.dropdown-opener {
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    display: block;
    position: fixed;
    background-color: #1f1f1f;
    width: 100%; 
    margin-top: -200px;

}

.dropdown-content a {
    float: none;
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content img {
    vertical-align: middle;
    padding-right: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 28px;   
  }

a {
    text-decoration: none  !important;
    color: var(--primary-color);
    transition: 200ms ease-in-out;
}

nav ul a:hover {
    color: var(--secondary-color);
    transition: 200ms ease-in-out;
}
h1 {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Gotham Bold';
    letter-spacing: 2px;
}
.subhead {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Gotham';
    color: var(--quad-color);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -468px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    font-size: 17px;
}

.package {
    box-sizing: border-box;
    width: 301px;
    height: 400px;
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    padding: 24px, auto, auto, 24px;
    text-align: center;
    float: left;
    transition: margin-top 350ms ease-in-out;
    position: relative;
    margin-right: 11px;
}
.package:hover {
    margin-top: -30px;
    transition: margin-top 350ms ease-in-out;
}
.name {
    color:var(--secondary-color);
    font-weight: 300;
    font-size: 3rem;
    margin-top: -5px;
}
.price {
    margin-top: 7px;
    font-weight: bold;
}
.price::after {
    content: " / month";
    font-weight: normal;
}
hr {
    background-color: var(--primary-color);
    border: none;
    height: 1px;
}
.trial {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 2px 21px 2px 21px;
    color: var(--thrice-color);
    border: 1px solid var(--primary-color);
    display: inline-block;
    border-radius: 15px;
    background-color: var(--primary-color);
    position: relative;
    bottom: -20px;
}
ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 29px;
}
li {
    margin-bottom: 15px;
}
li:before {
    font-size: 1.3rem;
    color: #33c4b6;
    margin-right: 3px;
}
 .wrapper li:before {
    font-family: "Material Symbols Outlined";
    content: "\e876";
    display: inline;
}

.brilliant::after, .checkIcon {
    font-family: "Material Symbols Outlined";
    content: "\f528";
}

.brilliant {
    border-color: var(--quad-color);
}
.brilliant::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: var(--quad-color) transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.brilliant::after {
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
}
